<main>
	début du carrousel
	<div id="carouselExample" class="object-fit-contain border rounded col-5 carousel slide">
		<div class="carousel-inner">
			{% for item in films %}
				<div class="carousel-item {% if loop.first %} active {% endif %}">
					<h1>
						{{ loop.index }}
						-
						{{ item.titre }}
					</h1>
					<img src="{{ item.affiche }}" class="d-block w-100" alt="...">
					<h6>
						Réalisé en
						{{ item.annee }}
						par
						{{ item.realisateur }}
						avec :

						{% for acteur in item.acteurs %}
							{{ acteur.nom }}
							{{ acteur.prenom }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</h6>
				</div>
			{% endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</main>
